@{
    ViewBag.Title = "Başarılar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-image: url('/images/background.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        margin: 0;
        padding: 0;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    thead {
        background-color: #333;
        color: white;
    }

    th, td {
        padding: 8px;
        border: 1px solid #ddd;
        text-align: left;
    }

    tbody tr:nth-child(odd) {
        background-color: #f2f2f2;
    }

    tbody tr:nth-child(even) {
        background-color: #ffffff;
    }

    tbody tr td:first-child {
        font-weight: bold;
    }
</style>
<div style="text-align:center">
    <h1>
        <strong>Space Soldiers Kazandığı Başarılar</strong>
        </h1>
        <p></p>
    <table>
        <thead>
            <tr>
                <th>Turnuva</th>
                <th>Tier</th>
                <th>Sonuç</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>BLAST Pro Series Istanbul 2018</td>
                <td>S-Tier</td>
                <td>4.</td>
            </tr>
            <tr>
                <td>ESL Belo Horizonte 2018</td>
                <td>S-Tier</td>
                <td>5-6.</td>
            </tr>
            <tr>
                <td>DreamHack Austin 2018</td>
                <td>A-Tier</td>
                <td>1.</td>
            </tr>
            <tr>
                <td>ESL Pro League Season 7 Finals</td>
                <td>S-Tier</td>
                <td>5-6.</td>
            </tr>
            <tr>
                <td>ESL Pro League Season 7 Europe</td>
                <td>S-Tier</td>
                <td>9-12.</td>
            </tr>
            <tr>
                <td>ESL Belo Horizonte 2018</td>
                <td>S-Tier</td>
                <td>5.</td>
            </tr>
            <tr>
                <td>FACEIT Major London 2018 Main Qualifier</td>
                <td>S-Tier</td>
                <td>15-16.</td>
            </tr>
            <tr>
                <td>WESG 2017</td>
                <td>S-Tier</td>
                <td>2.</td>
            </tr>
            <tr>
                <td>Play2Live Cryptomasters</td>
                <td>B-Tier</td>
                <td>2.</td>
            </tr>
            <tr>
                <td>ELEAGUE Major: Boston 2018</td>
                <td>S-Tier</td>
                <td>9-11.</td>
            </tr>
            <tr>
                <td>ELEAGUE Major 2018 European Minor</td>
                <td>A-Tier</td>
                <td>1.</td>
            </tr>
            <tr>
                <td>ESEA MDL Season 25 Global Challenge</td>
                <td>A-Tier</td>
                <td>1.</td>
            </tr>
            <tr>
                <td>ESL One Cologne 2017</td>
                <td>S-Tier</td>
                <td>12-14.</td>
            </tr>
            <tr>
                <td>GeForce Cup 2017</td>
                <td>B-Tier</td>
                <td>1.</td>
            </tr>
            <tr>
                <td>WESG 2016</td>
                <td>S-Tier</td>
                <td>4.</td>
            </tr>
            <tr>
                <td>WESG Middle East Championship 2016</td>
                <td>B-Tier</td>
                <td>1.</td>
            </tr>
            <tr>
                <td>ASUS Rog Summer 2016</td>
                <td>B-Tier</td>
                <td>1.</td>
            </tr>
            <tr>
                <td>Copenhagen Games 2016</td>
                <td>A-Tier</td>
                <td>3-4.</td>
            </tr>
        </tbody>
    </table>
</div>