@{
    ViewData["Title"] = "Ana Sayfa";
}
<style>
    img {
        display: block; 
        width: 100%; 
        height: auto; 
        object-fit: cover; 
    }

    .container {
        width: 100%; 
        max-width: none; 
        margin: 0 auto; 
        padding: 0; 
    }
    p{
        font-size:20px;
    }
</style>
<div>
    <img src="~/images/aboutus_header.png" style="display: block; width: 100%; height: auto; object-fit: cover; margin: 0; padding: 0;" />
    <h1 style="text-align:center;"><b>Space Soldiers</b></h1>
    <p> </p>
</div>
<div style="margin-left:20%;margin-right:20%">
    <h3 style="text-align:center">
        <b>
            Space Soldiers, Türkiye’nin uluslararası alanda en fazla başarısına sahip olan, lider eSpor takımıdır.
        </b>
    </h3>
    <p></p>
    <p>
        Space Gaming A.Ş., 2014 yılında Bünyamin Aydın tarafından kurulmuştur. Space Soldiers isimli eSpor takımı ve Space Akademi isimli eSpor oyuncusu yetiştirme okuluna sahiptir. Ayrıca özel tasarım takım formaları ve çeşitli takım ürünlerinin yanında global başarıları ile uluslararası arenada tanınan bir kurum haline gelmiştir.
    </p>
    <p>
        Space Soldiers CS:GO takımı, 5 oyuncusunun da Türkiye Milli CS:GO Takımı’nda yer aldığı tek takım olmanın yanında, global turnuvalarda Türkiye’ye açık ara en fazla birincilik ve başarıyı getiren takımdır.
    </p>

    <p>
       <b> Space Soldiers’ın 5 yıllık hedefi, dünyanın en iyi 5 eSpor takımının arasında yer almaktır.</b>
    </p>

</div>
<div>
    <h1 style="text-align:center;"><b>Space Soldiers Geçmişi</b></h1>
    <p></p>
    <div style="margin-left:20%;margin-right:20%">
        <p>
            Space Soldiers, 17 Ocak 2015'te Emre "⁠e1⁠" Biçer, İsmailcan "⁠XANTARES⁠" Dörtkardeş, Cihan "⁠ONLY⁠" Gönek, Tugay "⁠TuGuX⁠" Keskin ve Çağatay "⁠'den oluşan CS:GO takımını duyurdu. DESPE⁠" Sedef.  İlk kadro değişikliği Ocak 2016'da ⁠e1'in Engin "⁠ngiN⁠" Kor'un lehine düşmesiyle gerçekleşti. Ahmet "paz⁠" Karahoca, 18 Şubat'ta Space Soldiers'la ilk çıkışını yaptı. Bir ay sonra Space Soldiers, Kopenhag Oyunları 2016'da yarı finale yükseldi.
        </p>
        <p>
            15 Kasım 2016'da ekip TuGuX'u piyasaya sürdü. Yerine 26 Kasım'da duruşmaya katılan Engin "MAJ3R" Küpeli getirildi . 8 Şubat 2017'de resmi olarak takıma imza attı. 13 Şubat'ta Space Soldiers, Buğra "⁠Calyx⁠" Arkın'ı altı kişilik bir kadro oluşturmak üzere imzaladı.  Eylül 2017'de Space Soldiers, GeForce Cup 2017'yi kazandı . Aynı ay içinde ekip ESL One Cologne 2017'ye katılmaya hak kazandı . Takım ilk maçında dönemin 1 numaralı takımı olan SK Gaming ile karşılaştı ve maçı 16-14 kazandı . Takımımız diğer üç maçını da kaybederek turnuvayı 12-14'lük skorla tamamladı.
        </p>
        <p>
            Ocak 2018'de Space Soldiers, Challengers etabında AVANGAR, Misfits Gaming ve mousesports'u mağlup ederek ELEAGUE Major: Boston 2018'de yer alarak Major'a hak kazanan ilk Türk takımı oldu . Bu , takımın ve oyuncuların kendilerine ait oyun içi çıkartmaları da alabileceği anlamına geliyordu. Takım, Major'daki ikinci maçında nihai şampiyon Cloud9'u yendi, ancak daha sonra fare sporlarına yenildi ve play-off'lara katılamadan elendi. Takım, çeyrek finalde GODSENT ve Rusya Takımı'nı sırasıyla çeyrek finalde ve yarı finalde yenerek WESG 2017'nin büyük finaline ulaştı . Büyük finalde Space Soldiers, Fnatic ile karşılaştı ve son haritada 14-7 öne geçti, ancak geri dönüşten sonra 14-16 mağlup oldu .
        </p>
        <p>
            Mart 2018'de Space Soldiers, HLTV'nin haftalık olarak güncellenen sıralamasına göre en iyi 12. takım seçildi . Haziran ayında takım, finalde Rogue'u 2-1 mağlup ederek DreamHack Open Austin 2018'i kazandı. ngiN, Eylül ayındaki FACEIT Major: Londra maçı için zamanında vize alamadı , bu da onun yerine teknik direktör Canpolat "hardstyle" Yıldıran'ın oynamak zorunda kaldığı anlamına geliyordu. Takım, ana elemelerde oynadığı üç maçı da kaybetti.
        </p>
        <p>
            Space Soldiers , 28-29 Eylül 2018 tarihlerinde gerçekleşen BLAST Pro Series İstanbul'a davet edildi. Takım, turnuvayı kendi seyircisi önünde 4. sırada tamamladı. 13 Ekim 2018'de örgütün CS:GO oyuncularıyla yollarını ayırdığı açıklandı. Ayrılma kararı bir ay önce, 15 Eylül'de alınmıştı.
        </p>
    </div>
</div>